<!-- Docs page layout -->
<div class="page-header page-header-showcase" id="content">
  <div class="container">
    <!-- Page Header -->
    <%= render 'icons_page_header' %>
  </div>
</div>

<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-9">
      <section class="section" id="introduction">
        <!-- Introduction -->
        <%= render 'icons_introduction' %>
      </section>
      <section class="section" id="sizes">
        <!-- Sizes -->
        <%= render 'icons_sizes' %>
      </section>
      <section class="section" id="standard">
        <!-- Standard Icons -->
        <%= render 'icons_standard' %>
      </section>
      <section class="section" id="friendly-custom">
        <!-- Friendlier Custom Icons -->
        <%= render 'icons_friendly_custom' %>
      </section>
      <section class="section" id="custom">
        <!-- Custom Icons -->
        <%= render 'icons_custom' %>
      </section>
      <section class="section" id="utility">
        <!-- Utility Icons -->
        <%= render 'icons_utility' %>
      </section>
    </div>
    <div class="col-md-3">
      <!-- Nav -->
      <%= render 'icons_nav' %>
    </div>
  </div>
</div>