<!-- Docs page layout -->
<div class="jumbotron jumbotron-inverse jumbotron-center" id="content">
  <div class="container">
    <!-- download -->
    <%= render 'index_download' %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-9">
      <!-- Introduction -->
      <%= render 'index_introduction' %>
      <!-- Getting Started -->
      <%= render 'index_getting_started.html' %>
      <!-- Development -->
      <%= render 'index_development' %>
    </div>
    <div class="col-md-3">
      <!-- nav -->
      <%= render 'index_nav' %>
    </div>
  </div>
</div>