<!-- Docs page layout -->
<div class="page-header page-header-showcase" id="content">
  <div class="container">
    <!-- Page Header -->
    <%= render 'new_page_header' %>
  </div>
</div>

<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-9">
      <section class="section" id="cards">
        <!-- Cards -->
        <%= render 'new_cards' %>
      </section>
      <section class="section" id="card-list">
        <!-- Card list -->
        <%= render 'new_card_list' %>
      </section>
      <section class="section" id="page-headers">
        <!-- Page Headers (anchors) -->
        <%= render 'new_page_headers_anchors' %>
      </section>
    </div>
    <div class="col-md-3">
      <!-- Nav -->
      <%= render 'new_nav' %>
    </div>
  </div>
</div>