<!-- Docs page layout -->
<div class="page-header page-header-showcase" id="content">
  <div class="container">
    <!-- Page Header -->
    <%= render 'theme_page_header' %>
  </div>
</div>

<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-9">
      <section class="section" id="formatting">
        <!-- Content Formatting -->
        <%= render 'theme_content_formatting' %>
        <hr>
        <!-- Address -->
        <%= render 'theme_address' %>
        <hr>
        <!-- blockquote -->
        <%= render 'theme_blockquote' %>
        <hr>
        <!-- Normal List -->
        <%= render 'theme_normal_list' %>
        <hr>
        <!-- preFormatting -->
        <%= render 'theme_pre_formatting' %>
      </section>
      <section class="section" id="tables">
        <!-- Table -->
        <%= render 'theme_table' %>
      </section>
      <section class="section" id="forms">
        <!-- Forms -->
        <%= render 'theme_forms' %>
      </section>
      <section class="section" id="buttons">
        <!-- Buttons -->
        <%= render 'theme_buttons' %>
      </section>
      <section class="section" id="images">
        <!-- Images -->
        <%= render 'theme_images' %>
      </section>
      <section class="section" id="dropdowns">
        <!-- Dropdowns -->
        <%= render 'theme_dropdowns' %>
      </section>
      <section class="section" id="input-groups">
        <!-- Input Groups -->
        <%= render 'theme_input_group' %>
      </section>
      <section class="section" id="navs">
        <!-- Navs -->
        <%= render 'theme_navs' %>
      </section>
      <section class="section" id="navbars">
        <!-- Navbars -->
        <%= render 'theme_navbars' %>
      </section>
      <section class="section" id="pagination">
        <!-- Pagination -->
        <%= render 'theme_pagination' %>
      </section>
      <section class="section" id="labels-badges">
        <!-- Labels and Badges -->
        <%= render 'theme_labels_and_badges' %>
      </section>
      <section class="section" id="alerts">
        <!-- Alerts -->
        <%= render 'theme_alerts' %>
      </section>
      <section class="section" id="progress-bars">
        <!-- Progress Bars -->
        <%= render 'theme_progress_bars' %>
      </section>
      <section class="section" id="media-object">
        <!-- Media Object -->
        <%= render 'theme_media_object' %>
      </section>
      <section class="section" id="list-groups">
        <!-- List Groups -->
        <%= render 'theme_list_group' %>
      </section>
      <section class="section">
        <!-- Panels -->
        <%= render 'theme_panels' %>
      </section>
    </div>
    <div class="col-md-3">
      <!-- Nav -->
      <%= render 'theme_nav' %>
    </div>
  </div>
</div>