<% provide(:title, 'Bootstrap SF1') %>

<div class="jumbotron jumbotron-inverse jumbotron-center" id="content">
  <div class="container">
    <!-- download -->
    <%= render 'samples/partial_index/download' %>
  </div>
</div>

<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-9">
      <!-- Introduction -->
      <%= render 'samples/partial_index/introduction' %>
      <!-- Getting Started -->
      <%= render 'samples/partial_index/getting_started.html' %>
      <!-- Development -->
      <%= render 'samples/partial_index/development' %>
    </div>
    <div class="col-md-3">
      <!-- nav -->
      <%= render 'samples/partial_index/nav' %>
    </div>
  </div>
</div>