<div class="page-header page-header-showcase" id="content">
  <div class="container">
    <!-- Page Header -->
    <%= render 'samples/partial_theme/page_header' %>
  </div>
</div>

<div class="container bs-docs-container">
  <div class="row">
    <div class="col-md-9">
      <section class="section" id="formatting">
        <!-- Content Formatting -->
        <%= render 'samples/partial_theme/content_formatting' %>
        <hr>
        <!-- Address -->
        <%= render 'samples/partial_theme/address' %>
        <hr>
        <!-- blockquote -->
        <%= render 'samples/partial_theme/blockquote' %>
        <hr>
        <!-- Normal List -->
        <%= render 'samples/partial_theme/normal_list' %>
        <hr>
        <!-- preFormatting -->
        <%= render 'samples/partial_theme/pre_formatting' %>
      </section>
      <section class="section" id="tables">
        <!-- Table -->
        <%= render 'samples/partial_theme/table' %>
      </section>
      <section class="section" id="forms">
        <!-- Forms -->
        <%= render 'samples/partial_theme/forms' %>
      </section>
      <section class="section" id="buttons">
        <!-- Buttons -->
        <%= render 'samples/partial_theme/buttons' %>
      </section>
      <section class="section" id="images">
        <!-- Images -->
        <%= render 'samples/partial_theme/images' %>
      </section>
      <section class="section" id="dropdowns">
        <!-- Dropdowns -->
        <%= render 'samples/partial_theme/dropdowns' %>
      </section>
      <section class="section" id="input-groups">
        <!-- Input Groups -->
        <%= render 'samples/partial_theme/input_group' %>
      </section>
      <section class="section" id="navs">
        <!-- Navs -->
        <%= render 'samples/partial_theme/navs' %>
      </section>
      <section class="section" id="navbars">
        <!-- Navbars -->
        <%= render 'samples/partial_theme/navbars' %>
      </section>
      <section class="section" id="pagination">
        <!-- Pagination -->
        <%= render 'samples/partial_theme/pagination' %>
      </section>
      <section class="section" id="labels-badges">
        <!-- Labels and Badges -->
        <%= render 'samples/partial_theme/labels_and_badges' %>
      </section>
      <section class="section" id="alerts">
        <!-- Alerts -->
        <%= render 'samples/partial_theme/alerts' %>
      </section>
      <section class="section" id="progress-bars">
        <!-- Progress Bars -->
        <%= render 'samples/partial_theme/progress_bars' %>
      </section>
      <section class="section" id="media-object">
        <!-- Media Object -->
        <%= render 'samples/partial_theme/media_object' %>
      </section>
      <section class="section" id="list-groups">
        <!-- List Groups -->
        <%= render 'samples/partial_theme/list_group' %>
      </section>
      <section class="section">
        <!-- Panels -->
        <%= render 'samples/partial_theme/panels' %>
      </section>
    </div>
    <div class="col-md-3">
      <!-- Nav -->
      <%= render 'samples/partial_theme/nav' %>
    </div>
  </div>
</div>