<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <style>pre code { background: transparent; }</style>
    <!-- bootstrap sf1 -->
    <%= javascript_include_tag "bootstrap-sf1/js/docs.js" %>
    <%= stylesheet_link_tag "bootstrap-sf1/dist/css/bootstrap.css" %>
    <%= stylesheet_link_tag "bootstrap-sf1/dist/css/docs.min.css" %>
  </head>
  <body>
    <%= render 'layouts/header' %>

    <%= yield %>

    <%= render 'layouts/footer' %>
  </body>
</html>
