<!DOCTYPE html>
<html>
<head>
  <title>BootstrapSf1App</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!-- bootstrap sf1 -->
  <%= javascript_include_tag "bootstrap-sf1/js/docs.js" %>
  <%= stylesheet_link_tag "bootstrap-sf1/dist/css/bootstrap.css" %>
  <%= stylesheet_link_tag "bootstrap-sf1/dist/css/docs.min.css" %>
  <style>pre code { background: transparent; }</style>
</head>
<body>

<%= yield %>

</body>
</html>
